/* Form container styling */
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

#login-header, #register-header {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#login-btn, #register-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-btn:hover, #register-btn:hover {
    background-color: #218838;
}


#login-link, #register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

#login-link:hover, #register-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

